<h1>product</h1>
<div class="card">
  <div class="card-head">Lorem ipsum-product</div>
  <div class="card-body">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores deleniti, dolore dolorum eum eveniet excepturi fugiat, impedit maxime nemo nobis nulla, obcaecati quasi quo rem repellat sed sequi suscipit!
  </div>
</div>

<div class="card">
  <div class="card-head">Lorem ipsum-product</div>
  <div class="card-body">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores deleniti, dolore dolorum eum eveniet excepturi fugiat, impedit maxime nemo nobis nulla, obcaecati quasi quo rem repellat sed sequi suscipit!
  </div>
</div>
